<ion-toolbar>
  <ion-title> Mehboob Public School</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <div class="buttons">
    <ion-button (click)="enroll()" size="small" class="btn" expand="block"
      >Enroll New Students</ion-button
    >
    <ion-button (click)="enrolled()" size="small" class="btn" expand="block"
      >Enrolled Students</ion-button
    >
    <ion-button
      routerLink="/home/date-of-birth"
      size="small"
      class="btn"
      expand="block"
      >Check Your DOB</ion-button
    >
    <ion-button routerLink="/home/bill" size="small" class="btn" expand="block">
      Calculate Bill
    </ion-button>
    <ion-button
      routerLink="/home/prime-number"
      size="small"
      class="btn"
      expand="block"
    >
      Calculate Prime Number
    </ion-button>
  </div>
</ion-content>
